body {
  font-size: 14px;
  font-family: 'Helvetica', 'Arial', sans-serif;
}

.main {
  max-width: 980px;
  margin: 0 auto;
}

.pagenav {
  list-style-type: none;
  padding: 0;
  white-space: nowrap;
  background: #ccc;
  overflow: auto;
}

  .pagenav__item {
    display: inline-block;
    float: left;
    padding: 0 5px;
    margin: 0 5px;
  }

    .pagenav__item--current a, .pagenav__item--disabled a {
      color: #000;
    }

  .pagenav__item-link {
    display: block;
    padding: 5px 10px;
    text-decoration: none;
  }